<div class="page-header">
  <h1>
    Statements
    <a href="/statements/new" class="btn btn-lg btn-success">New Statement</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Date</th>
        <th>Patient</th>
        <th>Actions</th>
      </tr>

      <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.date %></td>
        <td><%= bill.patient_id %></td>
        <td>
          <a href="/statements/<%= bill.id %>" class="btn btn-primary">Show</a>
          <a href="/bills/<%= bill.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_bill/<%= bill.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
