

    <!--abstracted ruby variables that are needed in javascript-->
    <div id="google_bar_chart_data" data-lat="<%= @google_bar_chart_data %>"></div>
    <div id="google_waterfall_chart_data" data-long="<%= @google_waterfall_chart_data %>"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      var google_bar_chart_data = $("#google_bar_chart_data").data("lat");
      var google_waterfall_chart_data = $("#google_waterfall_chart_data").data("long");
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawStackedVisualization);
      google.charts.setOnLoadCallback(drawWaterfallVisualization);


      function drawStackedVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable(google_bar_chart_data);

        var options = {
          seriesType: 'bars',
          isStacked: true,
          vAxis: {
            gridlines: {
              color: 'transparent'
            }
          }
          
        };

        var chart = new google.visualization.ComboChart(document.getElementById('stacked_chart_div'));
        chart.draw(data, options);
  }

      function drawWaterfallVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable(google_waterfall_chart_data, true);

        var options = {
          legend: 'none',
          bar: { groupWidth: '100%' }, // Remove space between bars.
          candlestick: {
            fallingColor: { strokeWidth: 0, fill: '#a52714' }, // red
            risingColor: { strokeWidth: 0, fill: '#0f9d58' }   // green
          },
          vAxis: {
            gridlines: {
              color: 'transparent'
            }
          }
        };

        var chart = new google.visualization.CandlestickChart(document.getElementById('waterfall_chart_div'));
        chart.draw(data, options);
  }

      function drawTransactionChart(chart_id, patient_payment, insurance_payment) {

      var data = google.visualization.arrayToDataTable([
              ["Payor", "Payment", { role: "style" }, { role: "annotation" } ],
              ["You", parseFloat(patient_payment), "blue", patient_payment],
              ["Insurance", parseFloat(insurance_payment), "red", insurance_payment]
            ]);
         
       var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                             { calc: "stringify",
                               sourceColumn: 1,
                               type: "string",
                               role: "annotation" },
                             2]);

         var options = {
            bar: {groupWidth: "100%"},
            legend: { position: "none" },
            vAxis: {
              gridlines: {
                color: 'transparent'
              }
            }
          };
          var chart = new google.visualization.ColumnChart(document.getElementById(chart_id));
          chart.draw(view, options);

      }
    </script>
<div class="page-header">
  <div class="row">
    <div class="col-md-4">
      &nbsp;
    </div>
    <div class="col-md-4">
      &nbsp;
    </div>
    <div class="col-md-2">
      <strong>
        <p class="text-left">
          <%= @bill.date %>
        </p>
      </strong>
    </div>
    <div class="col-md-2">
      <strong>
        <p class="text-right">
            <%= Patient.find(@bill.patient_id).name %>
        </p>
      </strong>
    </div>
  </div>
  <div class="row">
    <div class= "col-md-4">
      <h4>Elements<br>Dental Studio</h4>
    </div>
    <div class= "col-md-4">
      <h5>1605 Benson Ave. <br>Evanston, IL 60201</h5> 
    </div>
    <div class= "col-md-4">
      <h3><span class="label label-default">Payment Due Today <%= number_to_currency(@total_patient_payment, :unit => "$") %></span></h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h5>
      <strong><%= Patient.find(@bill.patient_id).name %></strong>,<br>
      Thanks for choosing <strong> Elements Dental Studio </strong> as your dental care provider!<br>
      Below is a summary of your charges today.
    </h5>
    


    <div class= "row">
      <div class= "col-md-6">
        <h4><span class="label label-default">Today's Charges</span></h4>
        <div id="stacked_chart_div" ></div>
      </div>
      <div class= "col-md-6">
        <h4><span class="label label-default">Payment History</span></h4>
        <div id="waterfall_chart_div" ></div>
      </div>
    </div>


    <div class= "row">
      <div class= "col-md-6">
        <h4><span class="label label-default">How you're doing</span></h4>
        <div class="list-group">
          <div class="list-group-item">
            <div class= "row">
              <div class="col-md-4">
                <h5 class="list-group-item-heading">
                  Tooth Color
                </h5>
              </div>
              <div class="col-md-8">
                <i class="fa fa-star-o fa-2x" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>
                <i class="fa fa-star-o fa-2x" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>
                <i class="fa fa-star-o fa-2x" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>
                <i class="fa fa-star-o fa-2x" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>
                <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
              </div>
            </div>
            <div class= "row">
              <div class="col-md-4">
                <h5 class="list-group-item-heading">
                  Gum Health
                </h5>
              </div>
              <div class="col-md-8">
                <i class="fa fa-star-o fa-2x" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>
                <i class="fa fa-star-o fa-2x" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>
                <i class="fa fa-star-o fa-2x" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>
                <i class="fa fa-star-o fa-2x" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>
                <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
              </div>
            </div>
            <div class= "row">
              <div class="col-md-4">
                <h5 class="list-group-item-heading">
                  Plaque Build-up
                </h5>
              </div>
              <div class="col-md-8">
                <i class="fa fa-star-o fa-2x" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>
                <i class="fa fa-star-o fa-2x" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>
                <i class="fa fa-star-o fa-2x" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>
                <i class="fa fa-star-o fa-2x" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>
                <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
              </div>
            </div>
            <div class= "row">
              <div class="col-md-4">
                <h5 class="list-group-item-heading">
                  More Comments
                </h5>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  &nbsp;
                </div>
                <div class="form-group">
                  &nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class= "col-md-6">
        <h4><span class="label label-default">Timeline</span></h4>
        <ul class="fa-ul">
          <% @transactions.each do |t| %>
            <p><strong><%= t.date %></strong></p>
            <li><i class="fa fa-calendar fa-lg fa-fw" aria-hidden="true"></i><%= Procedure.find(t.procedure_id).description %></li>
            <hr>
          <% end %>
        </ul>
      </div>
    </div>

    <div class= "row">
      <div class= "col-md-6">
        <h4><span class="label label-default">Charge Breakdown</span></h4>
        <div class="list-group">
          <% @transactions.each do |t| %>
          <div class="list-group-item">
              <div class="row">
                <div class="col-md-2">
                  &nbsp;
                </div>
                <div class="col-md-10">
                  Date: <%= t.date %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <p class="list-group-item-text transaction-price"><%= number_to_currency(t.patient_payment + t.insurance_payment,:unit => "$") %></p>
                </div>
                <div class="col-md-6">
                  <h4 class="list-group-item-heading"><%= Procedure.find(t.procedure_id).description %></h4>
                  <h5 class="list-group-item-heading">What is it?</h4>
                  <p class="list-group-item-text"><%= Procedure.find(t.procedure_id).long_description %></p>
                </div>
                <div class= "col-md-4">
                  <% transaction_chart_id = 'transaction_chart' + t.id.to_s %>
                  <% transaction_chart_package = Array.new
                      transaction_chart_package.push(transaction_chart_id.to_s) 
                      transaction_chart_package.push(t.patient_payment) 
                      transaction_chart_package.push(t.insurance_payment) %>
                  <% raw json_escape(transaction_chart_package.to_json) %>
                  <div id="<%= transaction_chart_id %>" ></div>
                  <script type="text/javascript">
                    google.charts.setOnLoadCallback(function(){drawTransactionChart('<%= transaction_chart_id %>','<%= t.patient_payment %>','<%= t.insurance_payment %>')});
                  </script>
                </div>
              </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

<h4><span class="label label-default">Insurance-at-a-Glance</span></h4>

<h4><span class="label label-default">Need Help?</span></h4>

<div class= "row">
    <div class= "col-md-4">
      <div class="text-center">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user fa-stack-1x fa-inverse"></i>
        </span>
        <h5>In-person</h5>
        <p>Visit our office at 1605 Benson Ave, Evanston, IL 60201</p>
      </div>
    </div>
    <div class= "col-md-4">
      <div class="text-center">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h5>Online</h5>
        <p>Ask questions online at www.elementsdentalstudio.com</p>
      </div>
    </div>
    <div class= "col-md-4">
      <div class="text-center">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-mobile-phone fa-stack-1x fa-inverse"></i>
        </span>
        <h5>By phone</h5>
        <p>Call us anytime between 8AM-5PM, weekdays</p>
      </div>
    </div>
</div>


    <div class="btn-group btn-group-justified">
      <a href="/bills" class="btn btn-primary">
        Back
      </a>
      <a href="/bills/<%= @bill.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bill/<%= @bill.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
