<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<div class="page-header">
  <h3>Bill #<%= @bill.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">

    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd><%= @bill.date %></dd>

      <dt>Patient</dt>
      <dd><%= @bill.patient_id %></dd>

      <dt> Insurance Payment </dt>
      <dd> <%= @total_insurance_payment %> </dd>

      <dt> Patient Payment </dt>
      <dd> <%= @total_patient_payment %> </dd>

      <dt> Total Payment </dt>
      <dd> <%= @total_payment %> </dd>

    </dl>
    


    <div class= "row">
      <div class= "col-md-6">
        <%= column_chart @bar_chart_data, stacked: true, library: {vAxis: {gridlines: {color: "transparent"}}} %>
      </div>
      <div class= "col-md-6">
        <%= column_chart @waterfall_chart_data, stacked: true, colors: ["white","#0089d0"], library: {vAxis: {gridlines: {color: "transparent"}}} %>
      </div>
    </div>




    <div class= "row">
      <div class= "col-md-6">
        <div class="list-group">
          <% @transactions.each do |t| %>
          <div class="list-group-item">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="list-group-item-heading"><%= Procedure.find(t.procedure_id).description %></h4>
                  <p class="list-group-item-text">Total Payment: <%= t.patient_payment + t.insurance_payment %></p>
                  <h5 class="list-group-item-heading">What is it?</h4>
                  <p class="list-group-item-text"><%= Procedure.find(t.procedure_id).long_description %></p>
                </div>
                <div class= "col-md-4">
                  <%= column_chart [{ :name => "Patient", :data => [["You",t.patient_payment]] },{ :name => "Insurance", :data => [["Insurance",t.insurance_payment]] }], stacked: false, height: "100px", library: {vAxis: {gridlines: {color: "transparent"}}} %>
                </div>
              </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>




    <div class="btn-group btn-group-justified">
      <a href="/bills" class="btn btn-primary">
        Back
      </a>
      <a href="/bills/<%= @bill.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bill/<%= @bill.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
