<!-- Validation failure messages -->
<% if @rating.errors.any? %>
  <% @rating.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Rating #<%= @rating.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_rating/<%= @rating.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bill_id -->
      <div class="form-group">
        <label for="bill_id" class="control-label">
          Bill
        </label>

        <input type="text" id="bill_id" name="bill_id" placeholder="Bill" class="form-control" value="<%= @rating.bill_id %>">
      </div>

      <!-- Label and input for plaque -->
      <div class="form-group">
        <label for="plaque" class="control-label">
          Plaque
        </label>

        <input type="text" id="plaque" name="plaque" placeholder="Plaque" class="form-control" value="<%= @rating.plaque %>">
      </div>

      <!-- Label and input for gum -->
      <div class="form-group">
        <label for="gum" class="control-label">
          Gum
        </label>

        <input type="text" id="gum" name="gum" placeholder="Gum" class="form-control" value="<%= @rating.gum %>">
      </div>

      <!-- Label and input for tooth -->
      <div class="form-group">
        <label for="tooth" class="control-label">
          Tooth
        </label>

        <input type="text" id="tooth" name="tooth" placeholder="Tooth" class="form-control" value="<%= @rating.tooth %>">
      </div>

      <button class="btn btn-warning">
        Update Rating
      </button>
      or
      <a href="/ratings/<%= @rating.id %>">Cancel</a>
    </form>
  </div>
</div>
