<div class="page-header">
  <h1>
    Ratings
    <a href="/ratings/new" class="btn btn-lg btn-success">New Rating</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Bill</th>
        <th>Plaque</th>
        <th>Gum</th>
        <th>Tooth</th>
        <th>Actions</th>
      </tr>

      <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.bill_id %></td>
        <td><%= rating.plaque %></td>
        <td><%= rating.gum %></td>
        <td><%= rating.tooth %></td>
        <td>
          <a href="/ratings/<%= rating.id %>" class="btn btn-primary">Show</a>
          <a href="/ratings/<%= rating.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_rating/<%= rating.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
