<div class="page-header">
  <h3>Rating #<%= @rating.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Bill</dt>
      <dd><%= @rating.bill_id %></dd>

      <dt>Plaque</dt>
      <dd><%= @rating.plaque %></dd>

      <dt>Gum</dt>
      <dd><%= @rating.gum %></dd>

      <dt>Tooth</dt>
      <dd><%= @rating.tooth %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ratings" class="btn btn-primary">
        Back
      </a>
      <a href="/ratings/<%= @rating.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_rating/<%= @rating.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
