<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<div class="page-header">
  <h1>
    Patients
    <a href="/patients/new" class="btn btn-lg btn-success">New Patient</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>Deductible limit</th>
        <th>Benefit Max</th>
        <th>Actions</th>
      </tr>

      <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.phone_number %></td>
        <td><%= patient.address %></td>
        <td><%= patient.deductible_limit %></td>
        <td><%= patient.benefit_max %></td>
        <td>
          <a href="/patients/<%= patient.id %>" class="btn btn-primary">Show</a>
          <a href="/patients/<%= patient.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_patient/<%= patient.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    Test of Chartkick Gem
<%= timeline [
  ["Cleaning", "1789-04-29", "1797-03-03"],
  ["Cavity", "1797-03-03", "1801-03-03"],
  ["Crown", "1801-03-03", "1809-03-03"]
] %>

  </div>
</div>
