<!-- Validation failure messages -->
<% if @patient.errors.any? %>
  <% @patient.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Patient</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_patient" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for deductible_limit -->
      <div class="form-group">
        <label for="deductible_limit" class="control-label">
          Deductible limit
        </label>

        <input type="text" id="deductible_limit" name="deductible_limit" placeholder="Deductible limit" class="form-control" value="<%= @patient.deductible_limit %>">
      </div>

      <!-- Label and input for phone_number -->
      <div class="form-group">
        <label for="phone_number" class="control-label">
          Phone number
        </label>

        <input type="text" id="phone_number" name="phone_number" placeholder="Phone number" class="form-control" value="<%= @patient.phone_number %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @patient.address %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @patient.name %>">
      </div>

      <button class="btn btn-success">
        Create Patient
      </button>
      or
      <a href="/patients">Cancel</a>
    </form>
  </div>
</div>
