<div class="page-header">
  <h3>Patient #<%= @patient.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Deductible limit</dt>
      <dd><%= @patient.deductible_limit %></dd>

      <dt>Phone number</dt>
      <dd><%= @patient.phone_number %></dd>

      <dt>Address</dt>
      <dd><%= @patient.address %></dd>

      <dt>Name</dt>
      <dd><%= @patient.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/patients" class="btn btn-primary">
        Back
      </a>
      <a href="/patients/<%= @patient.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_patient/<%= @patient.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
