<div class="page-header">
  <h1>
    Insplans
    <a href="/insplans/new" class="btn btn-lg btn-success">New Insplan</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Annualmax</th>
        <th>Deductible</th>
        <th>Groupname</th>
        <th>Actions</th>
      </tr>

      <% @insplans.each do |insplan| %>
      <tr>
        <td><%= insplan.annualmax %></td>
        <td><%= insplan.deductible %></td>
        <td><%= insplan.groupname %></td>
        <td>
          <a href="/insplans/<%= insplan.id %>" class="btn btn-primary">Show</a>
          <a href="/insplans/<%= insplan.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_insplan/<%= insplan.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
