<!-- Validation failure messages -->
<% if @insplan.errors.any? %>
  <% @insplan.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Insplan</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_insplan" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for annualmax -->
      <div class="form-group">
        <label for="annualmax" class="control-label">
          Annualmax
        </label>

        <input type="text" id="annualmax" name="annualmax" placeholder="Annualmax" class="form-control" value="<%= @insplan.annualmax %>">
      </div>

      <!-- Label and input for deductible -->
      <div class="form-group">
        <label for="deductible" class="control-label">
          Deductible
        </label>

        <input type="text" id="deductible" name="deductible" placeholder="Deductible" class="form-control" value="<%= @insplan.deductible %>">
      </div>

      <!-- Label and input for groupname -->
      <div class="form-group">
        <label for="groupname" class="control-label">
          Groupname
        </label>

        <input type="text" id="groupname" name="groupname" placeholder="Groupname" class="form-control" value="<%= @insplan.groupname %>">
      </div>

      <button class="btn btn-success">
        Create Insplan
      </button>
      or
      <a href="/insplans">Cancel</a>
    </form>
  </div>
</div>
