<div class="page-header">
  <h1>
    Fees
    <a href="/fees/new" class="btn btn-lg btn-success">New Fee</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Code</th>
        <th>Feeschedule</th>
        <th>Amount</th>
        <th>Actions</th>
      </tr>

      <% @fees.each do |fee| %>
      <tr>
        <td><%= Procedure.find(fee.procedure_id).code %></td>
        <td><%= fee.feeschedule_id %></td>
        <td><%= fee.amount %></td>
        <td>
          <a href="/fees/<%= fee.id %>" class="btn btn-primary">Show</a>
          <a href="/fees/<%= fee.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_fee/<%= fee.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
