<div class="page-header">
  <h3>Fee #<%= @fee.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Code</dt>
      <dd><%= @fee.code %></dd>

      <dt>Feeschedule</dt>
      <dd><%= @fee.feeschedule_id %></dd>

      <dt>Amount</dt>
      <dd><%= @fee.amount %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/fees" class="btn btn-primary">
        Back
      </a>
      <a href="/fees/<%= @fee.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_fee/<%= @fee.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
