<div class="page-header">
  <h3>Procedure #<%= @procedure.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @procedure.description %></dd>

      <dt>Long Description</dt>
      <dd><%= @procedure.long_description %></dd>

      <dt>Code</dt>
      <dd><%= @procedure.code %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/procedures" class="btn btn-primary">
        Back
      </a>
      <a href="/procedures/<%= @procedure.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_procedure/<%= @procedure.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
