<!-- Validation failure messages -->
<% if @transaction.errors.any? %>
  <% @transaction.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Transaction #<%= @transaction.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_transaction/<%= @transaction.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

     <!-- Label and input for patient_id -->
      <div class="form-group">
        <label for="patient_id" class="control-label">
         Patient Name
        </label>
      <%= select_tag(:patient_id, options_from_collection_for_select(Patient.all,:id,:name, Patient.find_by(@transaction.patient_id).id), :class=>"form-control", :include_blank=>true) %>
      </div>

      <!-- Label and input for procedure_id -->
      <div class="form-group">
        <label for="procedure_id" class="control-label">
          Procedure
        </label>

          <%= select_tag(:procedure_id, options_from_collection_for_select(Procedure.all,:id,:description,Patient.find_by(@transaction.procedure_id).id), :class=>"form-control", :include_blank=>true) %>
      </div>

      <!-- Label and input for Location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location in Mouth
        </label>

        <input type="text" id="location" name="location" placeholder="Tooth Location" class="form-control" value="<%= @transaction.location %>">
      </div>

     <!-- Label and input for bill_id -->
      <div class="form-group">
        <label for="bill_id" class="control-label">
          Patient Bill
        </label>

        <%= select_tag(:bill_id, options_from_collection_for_select(Bill.where({ :patient_id => @transaction.patient_id }),:id, :bill_name, Bill.find(@transaction.bill_id).bill_name), :class=>"form-control", :include_blank=>true) %>
      </div>

      <!-- Label and input for deductible_payment -->
      <div class="form-group">
        <label for="deductible_payment" class="control-label">
          Deductible payment
        </label>

        <input type="text" id="deductible_payment" name="deductible_payment" placeholder="Deductible payment" class="form-control" value="<%= @transaction.deductible_payment %>">
      </div>

      <!-- Label and input for insurance_payment -->
      <div class="form-group">
        <label for="insurance_payment" class="control-label">
          Insurance payment
        </label>

        <input type="text" id="insurance_payment" name="insurance_payment" placeholder="Insurance payment" class="form-control" value="<%= @transaction.insurance_payment %>">
      </div>

      <!-- Label and input for patient_payment -->
      <div class="form-group">
        <label for="patient_payment" class="control-label">
          Patient payment
        </label>

        <input type="text" id="patient_payment" name="patient_payment" placeholder="Patient payment" class="form-control" value="<%= @transaction.patient_payment %>">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>
          <div class='input-group date' id='datetimepicker1'>
                    <input type='text' name="date" class="form-control" id="date" placeholder="Date" value="<%= @transaction.date.to_s %>" data-provide='datepicker'/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
      </div>
      <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>

      <button class="btn btn-warning">
        Update Transaction
      </button>
      or
      <a href="/transactions/<%= @transaction.id %>">Cancel</a>
    </form>
  </div>
</div>
