<div class="page-header">
  <h1>
    Transactions
    <a href="/transactions/new" class="btn btn-lg btn-success">New Transaction</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Patient</th>
        <th>Procedure</th>
        <th>Bill</th>
        <th>Deductible payment</th>
        <th>Insurance payment</th>
        <th>Patient payment</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>

      <% @transactions.each do |transaction| %>
      <tr>
        <td><%= Patient.find(transaction.patient_id).name %></td>
        <td><%= transaction.procedure_id %></td>
        <td><%= transaction.bill_id %></td>
        <td><%= transaction.deductible_payment %></td>
        <td><%= transaction.insurance_payment %></td>
        <td><%= transaction.patient_payment %></td>
        <td><%= transaction.date %></td>
        <td>
          <a href="/transactions/<%= transaction.id %>" class="btn btn-primary">Show</a>
          <a href="/transactions/<%= transaction.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_transaction/<%= transaction.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
